<ul class="nav flex-column" id="dashboardList">
    {{range .Dashboards}}
        <li class="nav-item">
            <a class="nav-link" href="#" hx-get="/dashboard/{{.DashboardId}}" hx-target="#mainContent" hx-swap="innerHTML">
                {{.Name}}
            </a>
        </li>
    {{end}}
</ul>